@import "@/styles/settings/settings.scss";

.label {
  @include flexCenter;
  gap: 6px;
  justify-content: space-between;
  padding: 6px 12px;
  background: $white;
  border: 1px solid $greySecond;
  border-radius: 5px;
}

.contentContainer {
  width: 100%;
}

.title {
  @include routeMobileSizeRegular;
  color: $greyThird;
}

.input {
  @include cardContentDescriptionSemiBold;
  width: 100%;
  color: $black;
  border: none;
}

@media screen and (max-width: 800px) {
  .label {
    padding: 14px 12px;
  }
  .title {
    @include dropdownContentSmallRegular;
    line-height: 20px;
  }
}
