@import "@/styles/settings/settings.scss";

.section {
  max-width: 1560px;
  margin: 0 auto;
  padding-left: 20px;
}

.attractions {
  margin-top: 15px;
  padding: 40px 50px;
  border: 1px solid $lightGrey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 18px 0;
  justify-content: space-between;
}

.link {
  @include resetButtonStyles;
  @include attractionsLinksMedium;
  background: $transparent;
  text-align: start;

  &:hover {
    color: $black;
  }
}

@media screen and (max-width: 1650px) {
  .attractions {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .attractions {
    padding: 20px 16px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -20px;
    padding-top: 20px;
    background-color: $white;
  }
}
