@import "@/styles/settings/settings.scss";

.section {
  max-width: 1560px;
  margin: 0 auto;
  padding: 20px;
}

.titleContainer {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 30px;
  justify-content: center;
  position: relative;
  background: $white;
}

.view {
  @include cardContentMedium;
  position: absolute;
  top: 15%;
  width: max-content;
  cursor: pointer;

  &:hover {
    color: $black;
  }
}

.viewCardsContainer {
  top: -70px;
  right: 0;
}

.viewTitleContainer {
  display: none;
  left: calc(100% + 20px);
  bottom: 12px;
}

@media screen and (max-width: 1800px) {
  .viewCardsContainer {
    display: none;
  }
  .viewTitleContainer {
    display: block;
  }
}

@media screen and (max-width: 1650px) {
  .view {
    right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    max-width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cardsContainer {
    margin-bottom: 0;
  }
  .sectionTitle {
    padding-bottom: 0;
  }
  .titleContainer {
    margin: 0 0 20px 0;
  }
  .view {
    @include cardContentRegularMobile;
    top: 3px;
    right: 20px;
    color: $inactiveButtonGrey;
  }
}
