@import "@/styles/settings/settings.scss";

.container {
  @include resetListStyles;
  @include flexCenter;
  padding: 14px;
  border: 1px solid $greySecond;
  max-width: 500px;
  min-width: 340px;
  gap: 12px;
  border-radius: 5px;
}

.image {
  width: 80px;
  height: 80px;
}

.contentContainer {
  max-width: 100%;
  box-sizing: border-box;
}

.title {
  @include cardContentBold;
}

.content {
  @include cardContentRegular;
  color: $black;
}

@media screen and (max-width: 600px) {
  .container {
    box-sizing: border-box;
    padding: 14px;
    align-items: flex-start;
    max-width: 100%;
    min-width: 280px;
  }
  
  .title,
  .content {
    font-size: 16px;
    line-height: 20px;
  }

  .image {
    width: 32px;
    height: 32px;
  }
}
