@import "@/styles/settings/settings.scss";

.cardsContainer {
  @include resetListStyles;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 288px));
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
