@import "@/styles/settings/settings.scss";

.section {
  position: relative;
}

.slider {
  cursor: pointer;

  & .buttonsContainer {
    opacity: 0;
  }

  &:hover {
    & .buttonsContainer {
      opacity: 1;
    }
  }
}

.splideSlide {
  aspect-ratio: 3 / 2;
  max-width: 100vw;
  max-height: 602px;
}

.image {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.likeContainer {
  position: absolute;
  padding: 0 8px;
  box-sizing: border-box;
  top: 8px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  width: 100%;
}

.likeButton {
  @include resetButtonStyles;
  background: $transparent;
}

.likeButton:hover {
  opacity: 0.5;
}

.like {
  width: 30px;
  height: 30px;
}

.pagination {
  bottom: 27px;
  z-index: 0;

  & li button {
    background: $greySecond;
    width: 6px;
    height: 6px;

    &[aria-selected="true"] {
      background: $white !important;
      transform: none;
    }

    &:hover {
      background: $white;
    }
  }
}
