@import "../../../styles/settings/settings.scss";
.container {
    max-width: 280px;
    border-radius: 5px;
    background: #FFF;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-sizing: border-box;
}

.content {
    margin: 0;
    padding: 0;
    color: #717171;
    font-size: 12px;
}

.input {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 229px;
    max-height: 17px;
    outline: none;
}

