@import "@/styles/settings/settings.scss";

.modal {
  width: 100vw;
  height: 100vh;
}

.container {
  min-width: 100%;
}

.hiderModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blueFirst;
  z-index: 999;
}

.heading {
  background: $white;
  @include flexCenter;
  padding: 18px 20px;
  justify-content: space-between;
}


.headingButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.button {
  @include resetButtonStyles;
  @include flexCenter;
  justify-content: center;
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.contentContainer {
  background-color: $blueFirst;
}

.menu {
  @include resetListStyles;
  @include flexColumn;
  padding: 20px 20px 14px;
  gap: 15px;
}

.location {
  @include flexCenter;
  gap: 5px;
  padding: 12px;
  box-sizing: border-box;
  max-width: 100%;
  background: $white;
  border-radius: 5px;
}

.modalInfoContainer {
  @include flexColumn;
  gap: 26px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background: $white;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.buttonsContainer {
  @include flexColumn;
  gap: 14px;
}

.buttonExtraClass {
  min-width: 100%;
  justify-content: center;
}

.closeModal {
  display: none;
}

.locationContent {
  @include cardContentDescriptionMedium;
  color: $blueFirst;
}

.linkContainer {
  @include flexCenter;
  gap: 4px;
}

@media screen and (max-width: 1200px) {
  .logo {
    max-width: 131px;
    height: fit-content;
  }
}

@media screen and (max-width: 470px) {
  .logo {
    max-width: 61px;
  }
  .headingButtonsContainer {
    gap: 10px;
  }
}
