.destinationSection {
  padding-top: 100px;
  padding-bottom: 74px;
}

.buttonsSlider, .cardWithPriceSection {
  padding-top: 60px;
}

.cardWithPriceSection {
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: content-boxc;
}
