$white: #fff;

$greyFirst: #f4f4f4;
$greySecond: #ddd;
$greyThird: #717171;
$inactiveButtonGrey: #b0b0b0;
$lightGrey: #f2f2f2;
$neutral08: #5E5E5E;
$greyBg: #fafafa;
$searchBorderGrey: #ebebeb;

$black: #222;

$mainBlue: #2f80ed;
$mainGreen: #27ae60;
$mainRed: #eb5757;
$mainOrange: #f2994a;

$loaderActiveGreen: #219653;
$loaderGreen: #6FCF97;

$blueFirst: #1E293B;
$blueSecond: #172132;
$buttonHover: #495A75;

$checkboxBorder: #c2c2c2;

$transparent: transparent;
