@import "@/styles/settings/settings.scss";

.main {
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
