@import "@/styles/settings/settings.scss";

.transparentContainer {
  @include setSectionMargins;
  padding-top: 27px;
  padding-bottom: 23px;
}

.header_position_absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  &_colorTheme {
    &_light {
      color: $blueFirst;

      & .heart path {
        fill: $transparent !important;
        stroke: $inactiveButtonGrey;
      }
    }

    &_dark {
      color: $white;
    }
  }
}

.container {
  @include setSectionContentPosition;
  display: flex;
  justify-content: space-between;
}

.mainContentContainer {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-items: center;
  gap: 47px;
  min-width: 100%;
}

.locationInfo {
  @include flexCenter;
  gap: 40px;
}

.contentContainer {
  @include flexColumn;
  gap: 23px;
}

.locationContainer {
  @include flexCenter;
  width: max-content;
  gap: 8px;
  grid-area: location;
}

.locationContent {
  @include cardContentDescriptionSemiBold;
  color: inherit;
}

.menuContainer {
  @include flexCenter;
  @include resetListStyles;
  @include dropdownContentMediumRegular;
  gap: 40px;
}

.menuItem {
  @include dropdownContentMediumMedium;
  color: inherit;
}

.buttonsContainer {
  @include flexCenter;
  padding-bottom: 15px;
  height: fit-content;
  align-self: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.mobileIcon {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.heart path {
  fill: $transparent !important;
  stroke: $white;
}

.link {
  @include resetLinkStyles;
}

@media screen and (max-width: 1200px) {
  .mainLogo {
    max-width: 131px;
  }
  .buttonsContainer {
    padding-bottom: 0;
  }
}

.mobileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 1040px) {
  .transparentContainer {
    padding: 18px 20px;
    gap: 0;
  }

  .container {
    display: block;
  }
  .mainLogo {
    grid-area: logo;
  }
  .buttonsContainer {
    grid-area: buttons;
  }
  .mainContentContainer {
    grid-template-areas:
      "logo buttons"
      "location location";
    grid-template-columns: min-content 1fr;
    gap: 0;
    height: fit-content;
  }
  .mobileContainer {
    justify-self: flex-end;
  }
  .locationContainer {
    &_hidden {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 470px) {
  .mainLogo {
    max-width: 61px;
  }

  .mobileContainer {
    gap: 10px;
  }
}
