
@import "@/styles/settings/settings.scss";

.contentContainer {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.title {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 600px;
    margin-top: 267px;
  }

.buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.button {
    @include resetButtonStyles;
    border-radius: 5px;
    border: 1px solid #000;

}

.buttonText {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 13px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 128px;
}

.buttonDisable {
    @include resetButtonStyles;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
}

.buttonTextDisable {
    margin: 0;
    padding: 0;
    color: #B0B0B0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 13px;
}

.card {
    width: 288px;
    height: 418px;
    margin-bottom: 20px;
}

  
  @media screen and (max-width: 600px) {
    .title {
      @include subtitleMobile;
      margin-top: 267px;
    }
  }