@import "@/styles/settings/settings.scss";
.card {
  border-radius: 5px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: fit-content;
}

.imageContainer {
  border-radius: 5px;
  overflow: hidden;
  height: 164px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title {
  font-weight: 600;
  text-decoration: none;
}

.title h3 {
  margin: 0;
  color: black;
}

.description {
  font-size: 18px;
  margin: 0;
  color: #5e5e5e;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 18px;
  color: #5e5e5e;
}

@media screen and (max-width: 800px) {
  .title h3 {
    font-size: 14px;
  }
  .title {
    margin-bottom: 0;
  }

  .description,
  .date,
  .title {
    font-size: 14px;
  }
}
